
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>Index</title>
    <style>
        .bin a {color:white;text-decoration:none}
        body {background-color:#f1f1f1;}
    </style>
</head>
<body>
    <div class="text-center">

        @ViewBag.Greeting World (from the view)
        <br />
        <h1>Today is @ViewBag.t1</h1>
        <!--2.4-->
        <h2><p>We are going to have an exciting party.</p></h2><br />
        (To do: sell it better. Add pictures or something.)
        @*//此处可做：为效果更好，可以添加图片或者其它信息*@
        <div class="btn btn-success">
            @Html.ActionLink("RSVP Now", "RsvpForm")
        </div>
    </div>
</body>
</html>
